*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

span{
    color: rgb(228, 64, 5);
}

/**Homepage layout*/
footer p{
    text-align: center;
}

.homepage{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.header-container{
    background-color: #1e506fcc; 
    padding: 10px 20px;
}

.main-container{
    background-color: #eeecec;  
}

.footer-container{
    background-color: #052a49c8;
}

/*Navigation Bar*/
ul{
    list-style: none;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.nav-container ul{
   display: flex;
   flex-direction: row;
   gap: 1.5em;
}

.nav-links a{
    color: white;
    text-decoration: none;
    transition: background-color .4s ease;
    padding:.5em;
    border-radius: 15px;
    border: none;
}

.nav-links a:hover{
    background-color: #0e4b71;

}

.auth-container{
    display: flex;
    align-items: center;
    position: relative;
    right: 2em;
}

.auth-link a{
    color: white;
    text-decoration: none;
    padding: .5em;
    border-radius: 15px;
    transition: background-color .4s ease;
}

.auth-link a:hover{
    background-color: #0e4b71;
}

.logo a{
    position: relative;
    left: 2em;
    text-decoration: none;
    font-weight: 700;
    color: white;
}

/**main content/

/*hero section*/
.hero-container{
    background: linear-gradient(#052a4975, #1e506f4b), url("../thumbnails/Bobber.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px;
}

.content{
    display: flex;
    flex-direction: column;
    width: 650px;
    align-items: center;
}

.content-text{
    color: white;
    font-family: sans-serif;
    margin: 10px;
}

.btn-container{
    display: flex;
    flex-direction: row;
    gap:2.5em;
}

.btn{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #0e506f;
    color: white;
    font-weight:400;
    font-family: sans-serif;
    cursor: pointer;
    transition: background-color .2s ease;
}

.btn a{
    color:white;
    text-decoration: none;
    font-weight: 400;
}

.btn:hover{
    background-color: #007cc8;
}


/*vid container*/
.content-details{
    position: relative;
    top: 3em;
    left: 12em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    gap: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    
}

.details{
    flex: 1;
}

.text-detail{
    padding: .5em;
}

.video-container{
    flex: 1;
    max-width: 400px;
}


.video-container video{
    height: auto;
    width: 100%;
    display: block;
}



/**Service section*/
.service-container{
    display:flex;
    justify-content: center;
    gap: 2em;
    background-color:#bcc1c4cc;
    min-height: 100vh;
}

.service-content{
    display: flex;
    justify-content: center;
    padding: 2em;
}

.service-card{
    position:relative;
    top: 30px;
    background-color: #d8dee1;
    height:250px;
    text-align: center;
    border-radius: 5px;
    transition: box-shadow .4s ease;
       
}

.service-card:hover{
    box-shadow: 5px 0px 15px 5px rgba(0,0,0,0.2);
    transform: translateY(-3px);    
}