*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #c40b0b;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav{
    background-color: b;
    padding: 10px;
}
main{
    padding: 20px;
}

form{
    margin: 20px 0;
    top:20px;
}
input[type="text"], input[type="email"], input[type="tel"]{
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}
textarea{
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}
input[type="submit"]{
    background-color: #c40b0b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
